body {
  font-family: 'Oxygen', sans-serif;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

.modal-title {
	text-align: left;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 14pt;
	margin-left: 1%;
	font-weight: 700
}

nav {
	font-family: 'Quicksand', sans-serif;
	font-size: 14pt;
	text-align: center;
	padding: 3% 0;
}

ul {
	list-style: none;
	font-family: 'Quicksand', sans-serif;	
	border: 1px #000 solid;
	padding: 30px;
}

.catSidebar {
	position: fixed;
	right: 50px;
	top: 200px;
}

button {
	margin: 0.5%;
}

footer {
	text-align: center;
	position: static;
}

footer a {
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
}

/* Other fonts

font-family: 'Montserrat', sans-serif; */

@media only screen and (max-width:600px) {
	.catSidebar {
		display: none;
		float: none;
	}
}