body {
  font-family: 'Oxygen', sans-serif;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 14pt;
	margin-left: 1%;
	font-weight: 700
}

nav {
	font-family: 'Quicksand', sans-serif;
	font-size: 14pt;
	text-align: center;
	padding: 3% 0;
}

.catFloat {
	list-style: none;
	float: right;
	padding: 3%;
	font-family: 'Quicksand', sans-serif;	
	border: 1px black solid;
	width: 100px;
}

.btn {
	margin: 1%;
}

footer {
	text-align: center;
}

footer a {
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
}

/* Other fonts

font-family: 'Montserrat', sans-serif; */

@media only screen and (max-width:600px) {
	.catFloat {
		display: none;
		float: none;
	}
}