body {
  font-family: 'Oxygen', sans-serif;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

nav {
	font-family: 'Quicksand', sans-serif;
	font-size: 14pt;
	text-align: center;
	padding: 3% 0;
}

ul {
	list-style: none;
	float: right;
	padding: 3%;
	font-family: 'Quicksand', sans-serif;	
}

.btn {
	margin: 1%;
}

/* Other fonts

font-family: 'Montserrat', sans-serif; */

@media only screen and (max-width:600px) {
	ul {
		display: none;
		float: none;
	}
}